@model IEnumerable<CornNuggets.DataAccess.Models.Products>
@{
    ViewData["Title"] = "Index";
}

<h1>Form</h1>

<p>
    <a asp-action="Create">Select Products</a>
</p>


    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    <p>Product Quantity</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <input type="number" id="b" name="b" min="0" max="50">

                        <output name="qty" for="b"></output>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>

                    </td>
                </tr>

            }

        </tbody>

    </table>
    <form name="invoice" action="" method="post">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" placeholder="First Name..."/>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" placeholder="Last Name..." />

        <input type="submit" asp-action="Form" onclick="alert('Order submitted. Thank you!')" value="Order Now " />
    </form>
<div>
    <a asp-action="Index">Back to List</a>
</div>