@model IEnumerable<CornNuggets.DataAccess.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders History</h1>


<a asp-action="Create">Create New</a>
<form asp-action="Search" method="post">
    <input type="text" name="custId" placeholder="By Customer Number" required/>
    <input type="submit" value="Filter" required />
</form><br />
<form asp-action="Stores" method="post">

    <input type="text" name="store" placeholder="By Store Number" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStamp)
            </td>
            <td>
                @item.OrderId
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
